<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Result of your hand:</h1>

    <p>
      <h3>Your hand contains the following cards:</h3>
      <%= Cribbage.card_array_to_s(hand.cards) %><br>
      The <%= hand.cut %> was cut.
      <% if hand.crib? %>
      And it's the dealer's crib.
      <% end %>
    </p>

    
    <p>
      <% if result[:pairs] != 0 %>
      <h3>You have the following pairs:</h3>
      <% hand.pairs.each do |pair| %>
      <%= Cribbage.card_array_to_s(pair) %><br>
      <% end %>
      <b>+<%= result[:pairs] %> points!</b>
      <% end %>
    </p>
    
    <p>
      <% if result[:fifteens] != 0 %>
      <h3>You have the following fifteens:</h3>
      <% hand.fifteens.each do | fifteen | %>
      <%= Cribbage.card_array_to_s(fifteen) %><br>
      <% end %>
      <b>+<%= result[:fifteens] %> points!</b>
      <% end %>
    </p>
    
    <p>
      <% if result[:runs] != 0 %>
      <h3>You have the following runs:</h3>
      <% hand.runs.each do | run | %>
      <%= Cribbage.card_array_to_s(run) %><br>
      <% end %>
      <b>+<%= result[:runs] %> points!</b>
      <% end %>
    </p>

    <p>
      <% if result[:suits] != 0 %>
      Your cards are all of the same suit.<br>
      <b>+<%= result[:suits] %> points!</b>
      <% end %>
    </p>
    
    <p>
      <% if result[:jack] != 0 %>
      Your <%= hand.right_jack %> is the right jack.<br>
      <b>+1 point!</b>
      <% end %>
    </p>
    
    <p>
      <% if points == 0 %>
      Your hand is worth <b>19 points.</b> Sorry!
      <% elsif points == 29 %>
      Your hand is worth <b>29 points.</b>
      That's the highest scoring hand in cribbage. Well done!
      <% else %>
      Your hand is worth <b><%= points %> points!</b>
      <% end %>
    </p>
    
    <hr>
    <a href="/">Back</a>
  </body>
</html>
